body {
    background-image: url("snow.jpg");
    background-size: cover;
    font-family:  Oxygen, BlinkMacSystemFont, Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 25px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    width: 150px;
    margin-bottom: 15px;
    border-radius: 95px;
}

#increment-btn {
    background: aliceblue;
}

#save-btn {
    background: burlywood;
}

